.nav-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: calc(100% - 245px);
}

.navbar {
  width: 100%;
}

.logged_nav {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  overflow: hidden;
}

.right-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hambuger-menu-box {
  width: 43px;
  height: 40px;
  align-content: center;
  border-right: 0.5px solid rgba(237, 241, 242, 1);
  padding-top: 17px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s; /* Safari */
  transition: background-color 0.5s;
}

#hambuger-menu-box {transition-timing-function: ease;}

#hambuger-menu-box:hover {
  background-color: rgba(237, 241, 242, 1);
}

.hambuger-menu-icon {
  width: 16px;
  height: 1px;
  background-color: rgba(132, 143, 153, 1);
  margin: 5px 0;
  margin-left: 12px;
}

.links {
  display: flex;
  margin-left: -8px;
}

.link {
  margin-left: 30px;
}

.link, .avatar-link {
  color: rgba(132, 143, 153, 1);
  cursor: pointer;
  font-size: 13px;
}

.link:hover {
  color: rgba(20, 170, 245, 1);
}

.link:active {
  color: black;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar:hover {
  color: rgba(20, 170, 245, 1);
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 11px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  background: rgba(253, 154, 0, 1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  margin-left: 10px;
  cursor: pointer;
}

#avatar-menu {
  position: absolute;
  background: white;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  top: 41px;
  right: 20px;
  border-radius: 2px;
  border: 1px solid rgba(132, 143, 153, 0.25);
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
  z-index: 1;
}

.avatar-section {
  display: flex;
  border-bottom: 1px solid rgba(132, 143, 153, 0.25);
  margin-top: 5px;
}

.avatar-list{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.avatar-link {
  line-height: 40px;
  align-items: center;
  padding-left: 30px;
}

.avatar-link:hover {
  background-color: rgba(20, 170, 245, 1);
  color: white;
}

.avatar-link:active {
  background-color: black;
  color: white;
}

.logout-button {
  margin: 0;
  font-size: 13px;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

#active {
  color: black;
  font-weight: bold;
}
