.member-hover-box {
  height: auto;
  width: 170px;
  display: none;
  border-radius: 4px;
  z-index: 2;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.member-initials:hover .member-hover-box {
  display: block;
  position: absolute;
}

.hover-role, .hover-dep, .hover-about, .hover-name {
  background: white;
  padding: 10px;
}

.hovering {
  border-radius: 10px;
  overflow: hidden;
}

.hover-background {
  background-color: #fd9a00;
  height: 120px;
}

.hover-background span {
  color: rgba(255, 255, 255, 0.09);
  font-size: 250px;
  line-height: 128px;
  font-weight: bold;
  margin-left: -60px;
}

.hover-img {
  position: relative;
  height: 120px;
  object-fit: cover;
  overflow: hidden;
}

.hover-name {
  position: absolute;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: transparent;
  color: white;
  top: 87px;
}

.hover-role {

}

.hover-dep {
  color: grey;
  font-size: 11px;
  padding-top: 0;
}
