.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(21, 27, 38, 0.85);
  z-index: 10;
}

.modal-child {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 900px;
  width: 90%;
  height: 90%;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.x-title {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.close-x {
  color: rgba(183, 191, 198, 0.7);
  font-size: 2.75em;
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
}

.other-form {
  font-weight: bold;
  color: rgba(120, 109, 255, 1);
  cursor: pointer;
  padding-left: 7px;
}

.session-submit {
  background-color: rgba(120, 109, 255, 1);
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1em;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid rgba(120, 109, 255, 1);
  border-radius: 3px;
  width: 100%;
  line-height: 20px;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}

#modal-header {
  font-size: 2.5em;
  text-align: center;
  padding-top: 15px;
}

#demo {
  color: rgba(156, 166, 175, 1);
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid rgba(120, 109, 255, 0.5);
  border-radius: 2px;
}

.login-form-container {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 0px 32px 4px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 0px 32px 4px rgba(0,0,0,0.47);
  box-shadow: 0px 0px 32px 4px rgba(0,0,0,0.47);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form span {
  display: flex;
  padding-bottom: 50px;
  font-size: 1em;
  color: rgba(156, 166, 175, 1);
}

.login-form-box {
  width: 70%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.login-form label {
  padding-top: 15px;
  padding-bottom: 15px;
}

.login-input {
  display: flex;
  background-color: white;
}

.login-input::placeholder {
  color: rgba(156, 166, 175, 0.8);
  font-size: 1em;
  font-weight: 200;
}

.login-input[type=text]:focus,
.login-input[type=password]:focus,
.login-input[type=email]:focus {
  border: 2px solid rgba(120, 109, 255, 0.5);
}

.login-input[value] {
  color: rgba(100, 111, 121, 1);
  font-size: 1em;
  font-weight: 200;
}

.login-input[type=text],
.login-input[type=password],
.login-input[type=email]
 {
  border: 2px solid rgba(156, 166, 175, 0.3);
  border-radius: 3px;
  width: 100%;
  line-height: 15px;
  padding: 15px;
  box-sizing: border-box;
}

.login-form label p {
  color: rgba(100, 111, 121, 1);
  font-size: 1em;
  padding-bottom: 10px;
}
