.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(21, 27, 38, 0.85);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
}

.x-title {
  display: flex;
}

.close-x {
  color: #b7bfc6;
  font-size: 2.5em;
  position: absolute;
  right: 20px;
  top: 0;
}

.on-click {
  font-weight: 300;
  color: #796eff;
}

.session-submit {
  background-color: #796eff;
  color: whitesmoke;
  font-weight: 300;
  border-radius: 3px;
  padding: 5px;
}

#modal-header {
  font-size: 2.5em;

}

.login-form-container {
  background-color: whitesmoke;
  padding: 10px 20px 20px 20px;
}

.login-form-box {
  width: 90%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-box label input {
  display: flex;
}

.login-form-box label p {
  color: #67727d;
  font-size: 1em;
}
