.sidebar-section {
  display: flex;
  flex-direction: column;
}

.content-header {
  font-size: 0.8em;
  color: rgba(156, 166, 175, 1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 5px;
  line-height: 27px;
  padding-left: 15px;
  padding-right: 10px;
}

.sidebar-link {
  color: rgba(255, 255, 255, .85);
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.5px;
  padding: 0 17px;
  margin: 5px 0;
  line-height: 25px;
  font-size: 0.85em;
  cursor: pointer;
  box-sizing: border-box;
}

.project-list {
  margin-top: 5px;
}

.project-info:hover {
  background-color: rgba(156, 166, 175, 0.25);
}

.member-list {
  display: flex;
  flex-direction: row;
  padding-left: 14px;
  margin: 4px 0;
  margin-bottom: 10px;
}

.member-list .circle {
  margin-left: 5px;
  margin-right: 5px;
}

.section-title-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add {
  color: rgba(255, 255, 255, .5);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.5px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, .5);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 9px;
  cursor: pointer;
}

.add:hover {
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}

.with-popup {
  position: relative;
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  box-sizing: border-box;
}

.project-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.more-options {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-right: 20px;
  align-items: center;
}

.small-circle {
  background: rgba(255, 255, 255, .5);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 1px;
}

.more-options:hover .small-circle {
  background: rgba(255, 255, 255, 1);
}

.options-popup {
  position: absolute;
  margin-left: 220px;
  background-color: #fff;
  border: 1px solid rgba(213, 220, 224, 1);
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.06);
  border-radius: 3px;
  bottom: 20px;
  width: 100%;
  padding: 7px 0;
}

.remove-project {
  width: 100%;
  font-size: 0.75em;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 10px;
  position: relative;
  z-index: 2;
}

.remove-project:hover {
  background: rgba(20, 170, 245, 1);
  color: white;
}

.full-page-div {
 position: fixed;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 z-index: 0;
 background: transparent;
}

.active-project {
  background: rgba(20, 170, 245, 1);
}

.active-project.project-info:hover {
  background: rgba(20, 170, 245, 1);
}








//
