.form-container-task {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
}

.modal-child .form-container-task {
    transform: translate(-50%, -50%);
}

.x-title-task {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  min-height: 40px;
}

.mark-complete {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(183, 191, 198, 1);
  color: rgba(100, 111, 121, 1);
  margin-left: 20px;
  align-items: center;
  font-size: .75em;
  padding: 7px 15px;
  margin-bottom: 10px;
  min-height: 15px
}

.mark-complete:hover {
  border: 1px solid rgba(100, 111, 121, 1);
  color: rgba(100, 111, 121, 1);
  background-color: whitesmoke;
}

.completed {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(37, 232, 200, 1);
  background: rgba(37, 232, 200, 1);
  color: white;
  margin-left: 20px;
  align-items: center;
  font-size: .75em;
  padding: 7px 15px;
  margin-bottom: 10px;
  min-height: 15px
}

.fa-check {
  margin-right: 3px;
}

.close-x-task {
  margin-right: 20px;
  color: rgba(183, 191, 198, 1);
  font-size: 1.5em;
  cursor: pointer;
}

.top-task {
  margin: 20px 40px 20px 40px;
  border-bottom: 1px solid lightgrey;
}

.task-form form {
  // margin-left: 30px;
}

.date-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3px;
  margin-bottom: 10px;
}

.icon-stroke-task {
  border: 1px dashed rgba(183, 191, 198, 1);
  width: 30px;
  height: 30px;
  line-height: 29px;
  border-radius: 50%;
  margin: 10px 10px 10px 0px;
  transition: border .5s;
}

.task-show-icon {
  text-align: center;
  color: rgba(100, 111, 121, .8);
  font-size: 16px;
  transition: color .5s;
}

.icon-stroke-task:hover, .icon-stroke-task#hover-state {
  border: 1px dashed grey;
  background-color: whitesmoke;
}

.icon-stroke-task:hover .task-show-icon, .task-show-icon#hover-state {
  color: grey;
}

.task-date-text {
  font-size: .8em;
  color: rgba(100, 111, 121, 1);
}

.task-name-input {
  font-size: 1.5em;
  margin-left: 3px;
  margin-bottom: 10px;
  color: #151b26;
  width: 100%;
  height: auto;
}

.description-task {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.description-icon {
  margin-left: 45px;
  margin-top: 3px;
  color: rgba(183, 191, 198, 1);
  font-size: 16px;
}

.task-description-form {
  margin-right: 45px;
  margin-left: 20px;
  margin-top: -6px;
  width: 100%;
}

.task-description {
  width: 100%;
  min-height: 60px;
  height: 100%;
  resize: none;
  padding: 5px;
  line-height: 20px;
  font-size: 13px;
  color: #151b26;
}

.task-description:focus, .task-description:hover {
  border: 1px solid rgba(183, 191, 198, 1);
  border-radius: 5px;
  resize: vertical;
}

.task-description::placeholder {
  color: rgba(100, 111, 121, .8);
}

.created-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.creator-info {
  font-size: .7em;
  color: rgba(100, 111, 121, 1);
  padding-left: 20px;
}

.bottom-task-info {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(183, 191, 198, 1);
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
  padding-top: 15px;
}

.completed-icon-task {
  width: 30px;
  height: 30px;
  line-height: 32px;
  border-radius: 50%;
  background: rgba(37, 232, 200, 1);
  text-align: center;
  color: white;
}

.completed-icon-task i {
  padding-left: 2px;
}

.completed-info-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 191, 156, 1);
  padding-bottom: 40px;
}

.user-completed {
  padding-left: 10px;
  font-size: 1em;
}

.created-date, .completed-date {
  padding-left: 10px;
  color: rgba(100, 111, 121, .8);
  font-size: .7em;
}

.completed-text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-container-task .hidden {
  display: none;
}





//
